*, body {
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-size:18px;
    font-weight: 200;
}

img {
    height:100%;
    width:100%;
    object-fit:cover;
}
button {
    border:none;
}

.main,.comment,.menu {
    width:100%;
    height:auto;
    margin: 50px 0px 50px 0px;
}

.head,.footer {
    width:100%;
    height:100px;
    background-image: url("./test.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.head {
    border-bottom: 2px dashed grey;
    margin-bottom:50px;
    height:100px;
    width:100%;
}

.in_head {
    max-width:1092px;
    height:100px;
    margin: 0 auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}
.in_main {
    max-width:1092px;
    margin: 0 auto;
    min-height:70vh;
}
.in_footer {
    max-width:1092px;
    margin: 0 auto;
    height:100px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

h1 {
    font-size:50px;
    font-family: Georgia;
    color: red;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

a {
    font-size:20px;
    text-decoration:none;
    color:black;
    text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue;
}
a:hover {
    transform: scale(1.2);
    transition: 1s all;
    opacity:0.8;
    text-shadow: 1px 1px 2px green, 0 0 1em green, 0 0 0.2em green;
}

.in_comment {
    max-width:1092px;
    margin: 0 auto;
    background:rgba(0,0,0,0.2);
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    padding: 20px;
}

.in_menu {
    max-width:1092px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    height:100px;
    border-top: 1px dashed blue;
    border-bottom: 1px dashed blue;
}

.in_menu a {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    text-decoration:none;
    font-size:30px;
}

