

.navigation_site {
    width:100%
    min-height:500px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    gap:1em;
}

.chapter {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    box-sizing:border-box;
    border-bottom:2px dashed blue;
    height:80px;
}

.chapter_title {
    flex: 1 1 auto;
    padding:5px;
}
.form {
    flex: 1 1 auto;
    display:flex;
    justify-content:flex-end;
    margin-left: auto;
}

.button_css {
    width:200px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px dashed blue;
    background: rgba(0,0,0,0.1);
    padding: 10px;
}

#button {
    width:100px;
}
