.container_card {
    max-width:100%;
    height:550px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:center;
}
.wrap_card {
    transform:translate(-50%);
}

.wrap_card__hidden-card,.wrap_card__card{
    height:420px;
    width:320px;
    border:1px solid black;
    padding:10px;
    position:absolute;
    box-shadow: 2px 0px 10px 5px rgba(0, 0, 0, .2);
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
    justify-content:flex-start;
    align-items:start;
}

.count_card {
    flex: 0 0  auto;
}
.title_card {
    flex: 0 0 auto;
}
.list_card {
    overflow-x:scroll;
    flex: 1 1 auto;
}
.wrap_barcode {
    flex: 0 0 auto;
    display:flex;
    width:100%;
    justify-content:flex-end;
}


.wrap_card__card {
    background: white;
    z-index:1;
}
.wrap_card__hidden-card {
    background: black;
}

.count_card h1 {
    font-size:72px;
    font-family: 'Roboto';
    font-weight: 300;
}

.title_card h6 {
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 20px;
    text-transform:uppercase;
}

wrap_card__card h1 {
    color: black;
}
.wrap_card__hidden-card h1 {
    color:white;
}

.wrap_card__card h6 {
    color:black;
}
.wrap_card__hidden-card h6 {
    color:white;
}

.list_card ul {
    opacity:black;
    padding:20px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    color: white;
}

.wrap_card {
    height:420px;
    width:320px;
    flex:0 0 320px;
    position:relative;
}

/* штрихкод barcode */
.barcode {
    display:flex;
    width: 100px;
    height: 55px;
    right: 3%;
    bottom: 3%;
}

.line1 {
    width:4px;
    height:50px;
    background: white;
    border-left:1px solid black;
    border-right:2px solid black;
}
.line2 {
    margin:0 1px;
    width:5px;
    height:50px;
    background: white;
    border-left:2px solid black;
    border-right:1px solid black;
}


.wrap_card__active {
    margin: 0px 10px 0px 10px;
}
.card__active {
    transform: rotate(-5deg);
    transform-origin: -50%;
    top: -20px;
    transition: 0.5s all;
}
.hidden_card__active {
    transform: rotate(5deg);
    top: 20px;
    z-index:2;
    transition: 0.5s all;
}



/* END штрихкод barcode */
/*  end section_about_content */

/* slider 2 */
.slider {
    height:550px;
    display:flex;
    align-items:center;
    width:100%;
}
.slider_line {
    display:flex;
    flex-wrap:nowrap;
    position:relative; /* обязательно для правильной работы JS transform */
    left: 0; /* обязательно для правильной работы transition */
    transition: all 1s ease;
    height:550px;
    align-items:center;
    margin-left:50%;
}

/* pagination */
.wrap_pagination {
    margin:50px auto;
    width:100%;
    display:flex;
    justify-content:space-between;
    height:40px;
}
.pag_prev,
 .pag_next,
  .pag_prev_3,
  .pag_next_3 {
    height:40px;
    width:40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background:rgba(0,0,0,0.5);
    color: white;
    font-size:20px;
    font-weight:900;
    &:hover {
        background:rgba(0,0,0,0.9);
        transition:all ease 1s;
    }
}

.slider_duo_wrapper {
    display:flex;
    flex-wrap:nowrap;
    gap:20px;
}

.container4,
 .container5 {
    overflow:hidden;
}
.slider_duo_wrapper__inner {
    padding:20px;
    width:50%;
}
