.lang_net {
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
    width:100%;
    height:40px;
}

.lang {
    width:70%;
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
}


.item_lang {
    width:70px;
    display:flex;
    overflow:hidden;
}

.item_lang__active {
    pointer-events: auto;
    cursor: pointer;
    width:100%;
}

.item_lang a {
    width:70px;
    padding-right:20px;
    background: transparent url(./vector-r.png) no-repeat center;
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: right center;
    margin:0 5px;
}


.lang_link {
    pointer-events: none;
    cursor: default;
}
.lang_link__active {
    pointer-events: auto;
    cursor: pointer;
}



.item_lang a:hover {
    background: transparent url(./vector-l.png) no-repeat center;
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: right center;
}

.item_lang a:last-child {
    background: transparent url();
}


.net {
    display:flex;
    justify-content:end;
    align-items:center;
    width:30%;
    height:40px;
}
.net a {
    width: 40px;
    height:40px;
    margin:0px 0px 0px 10px;
}
.net a img {
    width: 40px;
    height:40px;
}
/**************/
