.wrap_form {
    background: url('./s7_img1.png') 25% 0%;
    background-size: 1092px 450px;
    background-repeat: no-repeat;
    min-height: 450px;
    width:100%;
    border:1px solid black;
    display:flex;
    flex-wrap:wrap;
}

.left_s7,.right_s7 {
    flex: 1 1 350px;
    height:450px;
}
.right_s7 {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}